* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.7;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: #06090e;
}


#container {
    display: grid;
    grid-template-columns: [full-start]5rem 1fr 8rem[side-bar-start] repeat(8, [col-start] minmax(min-content, 14rem))[col-end] 1fr[content-end] 10rem[full-end];
    //grid-template-rows:  100vh repeat(2, min-content);
    grid-row-gap: 7rem;
}