*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.7;
    box-sizing: inherit;
    scroll-behavior: smooth;


    @include respond(tab-land) {
        font-size: 56.25%; //1rem  = 9px, 9/16 = 50%
    }

    @include respond(tab-port) {
       font-size: 50%; //1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
       font-size: 75%; //1rem = 12px, 12/16 = 33%
    }
}

body {
    box-sizing: border-box;
    background-color: $dark-blue;
}


#container {
    display: grid;
    grid-template-columns: [full-start]5rem 1fr 8rem[side-bar-start] repeat(8, [col-start] minmax(min-content, 14rem))[col-end] 1fr[content-end] 10rem[full-end];
    //grid-template-rows:  100vh repeat(2, min-content);
    grid-row-gap: 10rem;

    @include respond(tab-port) {
        grid-template-columns:  [full-start]2rem 1fr repeat(8,[col-start] minmax(min-content, 14rem))[col-end] 1fr 2rem[full-end];
    }
}

