.header {
    grid-column: full-start / content-end;

    background-image: radial-gradient(rgba(6, 9, 14, .9),rgba(6, 9, 14, .9)), url(../images/background7.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    position: relative;

    @include respond(tab-port) {
        grid-column: full-start / full-end;
        grid-row: 1 / 2;
    }
}

.nav {
    font-size: 1.6rem;
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__items {
        width: 30rem;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-transform: capitalize;
        margin-right: 5rem;
    }

    &__list {
        color:#fff;
        text-decoration: none;

        @include respond (tab-port) {
            flex-direction: column;
            text-align: center;
            justify-content: space-evenly;
           
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;   
            margin-top: -100vh;  
            transition: all .4s ;
            z-index: 10;
        }
    }
}

.lines {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    display: none;

    @include respond (tab-port) {
        display: block;
    }

    & > * {
        background-color: #fff;
        width: 3rem;
        height: .5rem;
        margin-bottom: .6rem;
        margin-left: -3rem;
    }
}

.logo{ 
    margin-left: 5rem;
    font-size: 3rem;
    font-weight: 999;

    &__text {
        color: #fff;
        letter-spacing: .1rem;
    }

    &__color {
        color: #d40404;
        font-weight: bolder;
        font-size: 2rem;
    }
    
}


.btn {
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #080939;
    padding: 1rem 3rem;
    border-radius: 5rem;
    text-decoration: none;

}

.text-box {
    color: #fff;
    text-shadow: 0 .4rem .3rem rgba(0,0,0, .9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-heading {
    text-transform: uppercase;
    text-align: center;
}

.primary-heading {
    font-size: 5rem;
    display: block;
    letter-spacing: .2rem;

    @include respond(big-desktop) {
        font-style: 7rem;
    }
}

.secondary-heading {
    font-size: 2rem;
    letter-spacing: .2rem;
    word-spacing: .3rem;
    font-weight: 300;
}