*,
*::before,
*::after {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.7;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #06090e; }

#container {
  display: grid;
  grid-template-columns: [full-start] 5rem 1fr 8rem [side-bar-start] repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr [content-end] 10rem [full-end];
  grid-row-gap: 10rem; }

.section-heading {
  font-size: 3.3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem; }

.header {
  grid-column: full-start / content-end;
  background-image: radial-gradient(rgba(6, 9, 14, 0.9), rgba(6, 9, 14, 0.9)), url(../images/background7.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  position: relative; }

.nav {
  font-size: 1.6rem;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__items {
    width: 30rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: capitalize;
    margin-right: 5rem; }
  .nav__list {
    color: #fff;
    text-decoration: none; }

.logo {
  margin-left: 5rem;
  font-size: 3rem;
  font-weight: 999; }
  .logo__text {
    color: #fff;
    letter-spacing: .1rem; }
  .logo__color {
    color: #d40404;
    font-weight: bolder;
    font-size: 2rem; }

.btn {
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #080939;
  padding: 1rem 3rem;
  border-radius: 5rem;
  text-decoration: none; }

.text-box {
  color: #fff;
  text-shadow: 0 0.4rem 0.3rem rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main-heading {
  text-transform: uppercase;
  text-align: center; }

.primary-heading {
  font-size: 5rem;
  display: block;
  letter-spacing: .2rem; }

.secondary-heading {
  font-size: 2rem;
  letter-spacing: .2rem;
  word-spacing: .3rem;
  font-weight: 300; }

.partners {
  grid-column: content-end / full-end;
  grid-row: 1 / -1;
  background-color: #805203;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .partners__img-box {
    width: 6rem;
    height: 6rem; }
  .partners__logo {
    width: 100%;
    height: 100%; }

.services {
  grid-column: col-start 1 / col-end; }
  .services__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem; }
  .services__content {
    display: flex;
    align-items: center;
    background-color: #0a0e16;
    padding: 2rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }
  .services__text {
    font-size: 1.6rem; }
    .services__text--heading {
      font-size: 2rem;
      font-weight: 300;
      color: #805203;
      text-transform: capitalize;
      margin-bottom: 1rem; }
    .services__text--info {
      color: #666; }

.about {
  grid-column: col-start 1 / col-end; }
  .about__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 10rem;
    grid-row-gap: 5rem;
    align-items: center; }
  .about__text {
    font-size: 1.6rem;
    color: #666; }
  .about__gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 8rem);
    grid-gap: 1rem;
    padding: 1rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }
    .about__gallery--img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.box-1 {
  grid-column: 1 / 6;
  grid-row: 1 / 3; }

.box-2 {
  grid-column: 6 / -1;
  grid-row: 1 / 2; }

.box-3 {
  grid-column: 6 / -1;
  grid-row: 2 / 3; }

.box-4 {
  grid-column: 1 / 3;
  grid-row: 3 / 4; }

.box-5 {
  grid-column: 1 / 3;
  grid-row: 4 / -1; }

.box-6 {
  grid-column: 3 / -1;
  grid-row: 3 / -1; }

.staffs {
  grid-column: col-start 1 / col-end; }
  .staffs__info {
    font-size: 1.6rem;
    text-align: center;
    max-width: 50rem;
    margin: 0  auto 3rem auto;
    color: #666; }
  .staffs__details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .staffs__name {
    font-size: 2.5rem;
    font-weight: 400;
    color: #805203;
    text-align: center;
    text-transform: uppercase;
    background-color: #0a0e16; }
  .staffs__work {
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background-color: #0a0e16; }
  .staffs__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 12rem; }
  .staffs__image-box {
    background-color: #0a0e16;
    height: 30rem;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }
  .staffs__img {
    width: 100%;
    height: 100%; }

.appointment {
  grid-column: col-start 1 / col-end;
  margin-top: 10rem; }
  .appointment__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 10rem; }
  .appointment__form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
  .appointment__info {
    font-size: 1.6rem;
    color: #444;
    text-align: center; }

.text-input {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #0a0e16;
  border: none;
  outline: none;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }
  .text-input::placeholder {
    font-family: sans-serif;
    color: #444; }

.textarea {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #fff;
  padding: 1rem;
  background-color: #0a0e16;
  border: none;
  outline: none; }
  .textarea::placeholder {
    font-family: sans-serif;
    color: #444; }

.submit-btn {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #fff;
  outline: none;
  border: none;
  background-color: #805203;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 2rem auto;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }

.testimony {
  grid-column: full-start / full-end;
  background-image: radial-gradient(rgba(6, 9, 14, 0.9), rgba(6, 9, 14, 0.9)), url(../images/sssw.jpg);
  background-size: cover;
  background-position: center;
  height: 60rem; }
  .testimony__textbox {
    max-width: 80rem;
    margin: 15rem auto;
    color: #777;
    font-size: 1.6rem;
    text-align: center; }
  .testimony__text {
    font-style: italic; }
  .testimony__heading {
    color: #805203;
    text-transform: uppercase; }
  .testimony__name {
    font-style: italic; }

.figcaption {
  width: 8rem;
  height: 8rem;
  margin: 3rem auto; }

.fig__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.3rem solid #805203; }

.works {
  grid-column: full-start / full-end;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }
  .works__gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 12vh);
    grid-gap: 1rem;
    padding: 1rem; }
    .works__gallery--img {
      width: 100%;
      height: 100%; }
    .works__gallery--box-1 {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
      background-color: red; }
    .works__gallery--box-2 {
      grid-column: 1 / 2;
      grid-row: 4 / 6; }
    .works__gallery--box-3 {
      grid-column: 2 / 4;
      grid-row: 4 / 6; }
    .works__gallery--box-4 {
      grid-column: 1 / 4;
      grid-row: 6 / -1; }
    .works__gallery--box-5 {
      grid-column: 3 / 6;
      grid-row: 1 / 4; }
    .works__gallery--box-6 {
      grid-column: 4 / 6;
      grid-row: 4 / 6; }
    .works__gallery--box-7 {
      grid-column: 4 / 6;
      grid-row: 6 / -1; }
    .works__gallery--box-8 {
      grid-column: 6 / -1;
      grid-row: 1 / 4; }
    .works__gallery--box-9 {
      grid-column: 6 / -1;
      grid-row: 4 / -1; }

.footer {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] 5rem 1fr 8rem [side-bar-start] repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr [content-end] 10rem [full-end];
  font-size: 1.6rem;
  color: #666;
  align-items: center;
  margin-top: -10rem;
  padding: 5rem 0;
  background-color: #0a0e16; }
  .footer__items {
    list-style: none;
    text-transform: capitalize; }
  .footer__main {
    grid-column: col-start 1 / col-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
    text-align: center; }
  .footer__social-media {
    grid-column: col-start 1 / col-end;
    width: 20rem;
    transform: translateY(3rem);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }

.icons {
  fill: #666;
  width: 2.5rem;
  height: 2.5rem; }
  .icons:hover {
    fill: #fff; }
